
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExel</h1>

<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Excel Listesini Indir</a>