@model CoreDemo.Controllers.Class1
@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>EditEmployee</h1>

<form method="post">
    <label>ID  </label>
    @*<input type="text" asp-for="@Model.Id" class="form-control"/>*@
    @Html.TextBoxFor(x=>x.Id, new {@class="form-control"})
    <br>
    <label>Person </label>
    @*<input type="text" asp-for="@Model.Name" class="form-control"/>*@
     @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
    <br>
    <button class="btn btn-success">Добавить</button>
</form>