
@{
    ViewData["Title"] = "Index";
     Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Работа ajax avtora</h1>
<br>
<button type="button" id="btngetlist" class="btn btn-outline-primary"> Yazar listesi </button>
<button type="button" id="btngetGetById" class="btn btn-outline-success"> Yazar Getir </button>
<button type="button" id="btnaddWriter" class="btn btn-outline-info"> Yazar Ekle </button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger"> Yazar Ekle </button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning"> Yazar Guncelle </button>
<button type="button" id="btnTest" class="btn btn-outline-warning"> Test </button>
<br /> <br />
<div id="writerlist"> Buraya yazarkar gelecek </div>
<div id="writerget"> Buraya 1 yazarkar gelecek </div>
<br /> <br />
<div><input type="text" class="form-control" id="writerId" placeholder="Поиск" /> </div>
<br /> <br />
<div>
    <input type="text" class="form-control" id="txtwriterId" placeholder="Yazar ID " /> 
    <br />
    <input type="text" class="form-control" id="txtwriterName" placeholder="Yazar Name" />
</div>
<br />
<br />
<input type="text" class="form-control" id="txtid" placeholder="Silinencek Yazar ID" /> 
<br />
<br />
<input type="text" class="form-control" id="txtid1" placeholder="Silinencek Yazar ID" /> 
<br />
<input type="text" class="form-control" id="txtwritername" placeholder="Silinencek Yazar ID" /> 


@section script{
    <script>
        $("#btnTest").click(function(){
            $.ajax({
                contentType:"application/json",
                dataType:"html",
                type:"Get",
                url:"/Admin/Writer/Test/",
                success:function(func){
                   console.log(func);
                   $("#writerlist").html(func);
                }
            });
        });
        $("#btngetlist").click(function(){
            $.ajax({
                contentType:"application/json",
                dataType:"json",
                type:"Get",
                url:"/Admin/Writer/WriterList/",
                success:function(func){
                    console.log(func);
                    let w=jQuery.parseJSON(func);
                    let tablehtml="<table class=table table-bordered> <tr><th>Yazar id<th> <th>Yazar Adi</th></tr>";
                    $.each(w,(index,value)=>{
                        tablehtml+=`<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    tablehtml+="</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });

        $("#btngetGetById").click(x=>{
            let id =$("#writerId").val();
             $.ajax({
                contentType:"application/json",
                dataType:"json",
                type:"Get",
                data:{writerId:id},
                url:"/Admin/Writer/GetWriterByID/",
                success:function(func){
                    console.log(func);
                    let w=jQuery.parseJSON(func);
                    let getValue=`<table class=table table-bordered> <tr><th>Yazar id<th> <th>Yazar Adi<th>
                    <tr><td>${w.Id}</td> <td>${w.Name}</td></tr></table>`;
                    $("#writerget").html(getValue)
                }
            });
        });

        $("#btnaddWriter").click(function(){
            let writer={
                Id:$("#txtwriterId").val(),
                Name:$("#txtwriterName").val()
            };
            $.ajax({
                type:"post",
                url:"/Admin/Writer/AddWriter/",
                data:writer,
                success:function(f){
                    let result=jQuery.parseJSON(f);
                    alert(writer.Id);
                 
                }
            });
        });

        $("#btndeletewriter").click(x=>{
            let id =$("#txtid").val();
            $.ajax({
                url:"/Admin/Writer/DeleteWriter/"+id,
                type:"post",
                dataType:"json",
                success:function(f){
                    loadData();
                }
            });
        })

        $("#btnupdatewriter").click(function(){
            let writer={
                Id: $("#txtid1").val(),
                Name:$("#txtwritername").val()
            };
            $.ajax({
                type:"post",
                url:"/Admin/Writer/UpdateWriter/",
                data:writer,
                success:function(f){
                    alert("Guncelleme yapildi");
                }
            });
        });
    </script>
}
